@model IrishNFTs.MVC.Models.OrderDetailViewModel
@{
    ViewData["Title"] = "My Orders";
}




<h1 class="text-center page-title d-flex justify-content-between px-5"><i
        class="bi bi-brush-fill"></i>@ViewData["Title"]<i class="bi bi-brush-fill"></i>
</h1>

<div class="row">
    <div class=text-center>
        @if (Model.OrderProductList != null && Model.OrderProductList.Any())
        {
            <table class="w-100 table table-responsive ">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Order Date</th>
                        <th>Product</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrderProductList != null)
                    {
                        @foreach (var item in Model.OrderProductList)
                            if (item != null && item.Order != null && item.Product != null)
                            {
                                var modalId = $"order-{item.Order.OrderId}";
                                <tr>
                                    <td>@item.Order.OrderId</td>
                                    <td>@item.Order.OrderDate.ToString("dd-MM-yyyy")</td>
                                    <td>
                                        <h6>@item.Product.Title</h6>
                                        <img class="img-thumbnail" src=" @item.Product.ImgUrl">
                                    </td>
                                    <td>€@item.Order.OrderTotal.ToString("N2")</td>
                                    @if (@item.Order.OrderCancellation)
                                    {
                                        <td style="color: red">Cancelled</td>
                                    }
                                    else
                                    {

                                        <td style="color: green">Complete</td>

                                    }

                                    <td>
                                        @if (item.Order.OrderCancellation)
                                        {
                                            <a class="btn btn-danger" asp-action="CancelOrder"
                                                asp-route-id="@item.Order.OrderId">Cancelled</a>
                                            <p style="font-size: 10px">Please check your email for confirmation</p>
                                        }
                                        else
                                        {

                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#@modalId">
                                                Cancel Order
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="cancelModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-center" id="cancelModalLabel">Order Cancellation
                                                            </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p style="font-size: 12px; font-weight:700; color: red">Once you click "Yes,
                                                                please cancel, the order will show as cancelled on your
                                                                account. An email will be sent separately to confirm</p>
                                                            <p>@item.Order.OrderId</p>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, I've
                                                                changed my mind</button>
                                                            <a type="button" class="btn btn-success" asp-action="CancelOrder"
                                                                asp-route-id="@item.Order.OrderId">Yes, please cancel</a>
                                                        </div>
                                                        <div class="modal-footer">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                    }
                </tbody>
            </table>
        }

        else
        {
            <div>
                <p>It appears you haven't placed any orders yet.</p>
                <p>Go to our <a asp-controller="Products" asp-action="Index">product page </a>to see what we have
                    available to order.</p>
            </div>
        }

    </div>
</div>

