@model IrishNFTs.MVC.Models.ProductViewModel

@{
    ViewData["Title"] = "Complete Order";
}

<div class="w-50 mx-auto text-center">
    <h1>Complete order page</h1>
    <div class="w-50 mx-auto text-center">
        <h1>@Model.Title</h1>
        <p>@Model.Description</p>
        <p>@Model.Price</p>
        <form method="post" action="@Url.Action("CompleteOrder", "Orders")">
            <input type="hidden" name="ProductId" value="@Model.ProductId" />
            <input type="hidden" name="OrderDate" value="@DateTime.Now" />
            <input type="hidden" name="OrderTotal" value="@Model.Price" />
            <input type="hidden" name="OrderCancellation" value="false" />

            <button type="submit" class="btn btn-primary">Complete Order</button>
        </form>

    </div>



</div>