@model IrishNFTs.MVC.Models.ProductViewModel

@{
    ViewData["Title"] = "Complete Order";
}

<div class="container">
    <h1 class="text-center page-title d-flex justify-content-between px-5"><i
            class="bi bi-brush-fill"></i>@ViewData["Title"]<i class="bi bi-brush-fill"></i>
    </h1>
    <div class="row">
        <div id="order-completion-window" class=" mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <h2 class="product-card-title mb-4 text-center">Complete order: "@Model.Title":</h2>
                    <div class="mx-auto text-center">
                        <img class="order-page-img img-fluid w-100 mx-auto" src=@Model.ImgUrl>
                    </div>


                    <form method="post" action="@Url.Action("CompleteOrder", "Orders")">
                        <input type="hidden" name="ProductId" value="@Model.ProductId" />
                        <input type="hidden" name="OrderTotal" value="@Model.Price" />

                        <div class="row">
                            <h2 class="product-card-title text-center my-5">Payment</h2>
                            <p style="font-size: 20px">Complete payment of <span
                                    class="product-order-price card-text">€@Model.Price</span>below:
                            </p>
                            <div id="payment-info" class="card">
                                <div class="card-info card-body">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label for="paymentType">Payment Type</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="PaymentType"
                                                    id="creditCard" value="Credit Card" checked>
                                                <label class="form-check-label" for="creditCard">
                                                    Credit Card
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="PaymentType"
                                                    id="debitCard" value="Debit Card">
                                                <label class="form-check-label" for="debitCard">
                                                    Debit Card
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="cardNumber">Card Number</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="CardNum" id="CardNum"
                                                    placeholder="Enter card number">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i
                                                            class="bi bi-credit-card"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="PaymentCardName">Cardholder Name</label>
                                            <input type="text" name="PaymentCardName" class="form-control"
                                                id="PaymentCardName" placeholder="Enter cardholder name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="cardExpiry">Expiration Date</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="CardExp" id="CardExp"
                                                    placeholder="MM / YY">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="cardCVC">CVC Code</label>
                                            <input type="text" class="form-control" name="CardCvv" id="CardCvv"
                                                placeholder="Enter CVC code">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-lg btn-success w-100 mt-3">Complete
                            Order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>