@{
    ViewData["Title"] = "Our Products";
}


<div class="container">
    <h1 class="text-center page-title d-flex justify-content-between px-5"><i
            class="bi bi-brush-fill"></i>@ViewData["Title"]<i class="bi bi-brush-fill"></i>
    </h1>
    <div class="row row-col-xs-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-1 my-3">
        @foreach (var product in Model)
        {



            var modalId = $"product-details-{product.ProductId}";

            <div class="col">
                <div class="card shadow-sm product-card mb-5 mx-auto">
                    <img class="img-fluid" src="@product.ImgUrl" alt="@product.Title" max-width="300" max-height="300">
                    <div class="card-body">
                        <h5 class="product-card-title">@product.Title</h5>
                        <span style="color:red">€@product.Price</span>
                        <div class="card-buttons mx-auto text-center">
                            <button type="button" class="btn product-card-btn" data-bs-toggle="modal"
                                data-bs-target="#@modalId">
                                See details
                            </button>
                            <a href="@Url.Action("OrderSummary", "Orders", new { id = product.ProductId })"
                                class="btn product-card-btn">Order NFT</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title text-center" id="exampleModalLabel">@product.Title</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 d-flex justify-content-center mb-4">
                                        <img src="@product.ImgUrl" alt="@product.Title" class="w-100">
                                    </div>
                                    <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-between">
                                        <h2 class="text-center mb-3 product-detail-heading">@product.Title</h2>
                                        <div>
                                            <h3 class="product-detail-heading">Category:</h3>
                                            <p class="mb-4">@product.Category</p>
                                        </div>
                                        <div>
                                            <h3 class="product-detail-heading">Description:</h3>
                                            <p class="mb-4">@product.Description</p>
                                        </div>
                                        <div>
                                            <h3 class="product-detail-heading">Price:</h3>
                                            <p class="product-detail-price">€@product.Price</p>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center mb-4">
                                            <a href="@Url.Action("OrderSummary", "Orders", new { id = product.ProductId })"
                                                class="btn btn-success">Order Now</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>





        }

    </div>
    <div class="row">
        <div class="d-flex justify-content-center text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-styled">
                    <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                        <a class="page-link"
                            href="@Url.Action("Index", "Products", new { page = ViewBag.PageNumber - 1 })"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= Math.Ceiling((decimal)ViewBag.TotalItemCount / 12); i++)
                    {
                        <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", "Products", new { page = i })">@i</a>
                        </li>
                    }
                    <li
                        class="page-item @(ViewBag.PageNumber == Math.Ceiling((decimal)ViewBag.TotalItemCount / 12) ? "disabled" : "")">
                        <a class="page-link"
                            href="@Url.Action("Index", "Products", new { page = ViewBag.PageNumber + 1 })"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
