@{
    ViewData["Title"] = "Products";
}

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">



            @foreach (var product in Model)
            {
                if (product.InStock == true)

                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">@product.Title</h5>
                                <p>@product.Description</p>
                                <img class="img-fluid" src="@product.ImgUrl" alt="@product.Title" max-width="300"
                                    max-height="300">

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="@Url.Action("ProductDetails", "Products", new { id = product.ProductId })"
                                            class="btn btn-sm btn-outline-secondary">See details</a>

                                        <form method="post" action="/Products/DeleteProduct">
                                            <input type="hidden" name="id" value="@product.ProductId" />
                                            <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>