@{
    ViewData["Title"] = "Our Products";
}


<div class="container-fluid">
    <h1 class="text-center page-title d-flex justify-content-between px-5"><i
            class="bi bi-brush-fill"></i>@ViewData["Title"]<i class="bi bi-brush-fill"></i>
    </h1>
    <div class="row row-col-xs-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-1 my-3">
        @foreach (var product in Model)
        {
            if (product.InStock == true)

            {
                var modalId = $"product-details-{product.ProductId}";

                <div class="col">
                    <div class="card shadow-sm product-card mb-5">
                        <img class="img-fluid" src="@product.ImgUrl" alt="@product.Title" max-width="300" max-height="300">
                        <div class="card-body">
                            <h5 class="product-card-title">@product.Title</h5>
                            <div class="card-buttons mx-auto text-center">
                                <button type="button" class="btn product-card-btn" data-bs-toggle="modal"
                                    data-bs-target="#@modalId">
                                    See details
                                </button>
                                <a href="@Url.Action("OrderSummary", "Orders", new { id = product.ProductId })"
                                    class="btn product-card-btn">Order NFT</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="exampleModalLabel">@product.Title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 d-flex justify-content-center mb-4">
                                            <img src="@product.ImgUrl" alt="@product.Title" class="w-100">
                                        </div>
                                        <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-between">
                                            <h2 class="mb-4">@product.Title</h2>
                                            <p class="mb-4">@product.Description</p>
                                            <div class="d-flex flex-column justify-content-center mb-4">
                                                <h3 class="product-detail-price w-50 mx-auto">€@product.Price</h3>
                                                <a href="@Url.Action("OrderSummary", "Orders", new { id = product.ProductId })"
                                                    class="btn product-details-order-btn">Order Product</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>

            }

        }
    </div>
</div>
