@{
    ViewData["Title"] = "Products Admin";
}
<div class="container">
    <h1 class="text-center page-title d-flex justify-content-between px-5"><i
            class="bi bi-brush-fill"></i>@ViewData["Title"]<i class="bi bi-brush-fill"></i>
    </h1>
    <div class="row">
        <button class="btn-lg btn-success my-5 w-50" data-bs-toggle="modal" data-bs-target="#addProductModal"><i
                class="bi bi-plus-circle"></i> Add a product</button>


        <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProductModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="Products" asp-action="CreateProduct" method="post">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" class="form-control" id="title" name="Title" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" id="description" name="Description" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="category">Category:</label>
                                <select class="form-select" id="category" name="Category" required>
                                    <option value="" disabled selected>Select a category</option>
                                    <option value="Abstract">Abstract</option>
                                    <option value="Animals">Animals</option>
                                    <option value="Animals">Cityscape</option>
                                    <option value="Animals">Landscape</option>
                                    <option value="Music">Music</option>
                                    <option value="Portrait">Portrait</option>
                                    <option value="Still Life">Still Life</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="price">Price:</label>
                                <input type="number" class="form-control" id="price" name="Price" step="0.01" min="0"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="imgUrl">Image URL:</label>
                                <input type="text" class="form-control" id="imgUrl" name="imgUrl" required>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create Product</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <table class="w-100 table table-responsive ">

            <thead>
                <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Product Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>

            </thead>

            <tbody>
                @foreach (var product in Model)
                {
                    var editProduct = $"edit-product-{product.ProductId}";
                    var deleteProduct = $"delete-product-{product.ProductId}";
                    <tr>

                        <td>@product.ProductId</td>
                        <td>@product.Title</td>
                        <td><img class="img-thumbnail rounded-3" src="@product.ImgUrl"></img></td>
                        <td>@product.Price</td>

                        @if (product.InStock)
                        {
                            <td style="color: green">
                                Available
                            </td>
                        }
                        else
                        {
                            <td style="color: red">
                                Sold
                            </td>
                        }
                        <td>
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-outline-success mx-1" data-bs-toggle="modal"
                                    data-bs-target="#@editProduct" style="font-size: 12px;"><i
                                        class="bi bi-pencil-fill"></i>
                                    Edit</button>
                                <form method="post" action="/Products/DeleteProduct">
                                    <input type="hidden" name="id" value="@product.ProductId" />
                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                        data-bs-target="#@deleteProduct" style="font-size: 12px"><i
                                            class="bi bi-trash3-fill"></i>
                                        Delete</button>

                                    @* MODAL TO DELETE PRODUCT *@

                                    <div class="modal fade" id="@deleteProduct" tabindex="-1"
                                        aria-labelledby="deleteProductModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteProductModalLabel">Confirm deletion
                                                        of:
                                                        @product.Title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img class="img-thumbnail" src="@product.ImgUrl">
                                                    @if (product.InStock)
                                                    {
                                                        <p>Are you sure you want to delete @product.Title?</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@product.Title is sold and cannot be deleted.</p>
                                                    }
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    @if (product.InStock)
                                                    {
                                                        <button type="submit" class="btn btn-danger"><i
                                                                class="bi bi-trash3-fill"></i> Delete Product</button>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <div class="modal fade" id="@editProduct" tabindex="-1" aria-labelledby="@editProduct"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">@editProduct</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    @* FORM TO UPDATE PRODUCT TITLE *@
                                    <form asp-controller="Products" asp-action="UpdateProductTitle" method="post">
                                        <div class="form-group product-read">
                                            <label for="read-title">Title:</label>
                                            <input type="text" class="form-control" id="read-title" name="read-title"
                                                value="@product.Title" required disabled>
                                        </div>
                                        <div class="form-group product-edit">
                                            <label for="title">Title:</label>
                                            <input type="text" class="form-control" id="title" name="title"
                                                value="@product.Title" required>

                                            <input type="hidden" name="id" value="@product.ProductId">

                                            <button type="submit"
                                                class="save-product-edit-btn btn btn-sm btn-primary mt-3">Save
                                                Changes</button>
                                        </div>
                                    </form>

                                    @* FORM TO UPDATE PRODUCT PRICE *@
                                    <form asp-controller="Products" asp-action="UpdateProductPrice" method="post">
                                        <div class="form-group product-read my-3">
                                            <label for="read-price">Price:</label>
                                            <input type="text" class="form-control" id="read-price" name="read-price"
                                                value="€ + @product.Price" required disabled>
                                        </div>
                                        <div class="form-group product-edit my-3">
                                            <label for="price">Price:</label>
                                            <input type="text" class="form-control" id="price" name="price"
                                                value="@product.Price" required>

                                            <input type="hidden" name="id" value="@product.ProductId">

                                            <button type="submit"
                                                class="save-product-edit-btn btn btn-sm btn-primary mt-3">Save
                                                Changes</button>
                                        </div>
                                    </form>

                                    @* FORM TO UPDATE PRODUCT DESCRIPTION *@
                                    <form asp-controller="Products" asp-action="UpdateProductDescription" method="post">
                                        <div class="form-group product-read my-3">
                                            <label for="read-description">Description:</label>
                                            <textarea type="text" class="form-control" id="read-description"
                                                name="read-description" required disabled>@product.Description</textarea>
                                        </div>
                                        <div class="form-group product-edit my-3">
                                            <label for="description">Description:</label>
                                            <textarea type="text" class="form-control" id="description" name="description"
                                                required>@product.Description</textarea>
                                            <input type="hidden" name="id" value="@product.ProductId">
                                            <button type="submit"
                                                class="save-product-edit-btn btn btn-sm btn-primary mt-3">Save
                                                Changes</button>
                                        </div>
                                    </form>

                                    @* FORM TO UPDATE PRODUCT CATEGORY *@
                                    <form asp-controller="Products" asp-action="UpdateProductCategory" method="post">
                                        <div class="form-group product-read my-3">
                                            <label for="read-category">Category:</label>
                                            <input type="text" class="form-control" id="read-category" name="read-category"
                                                value="@product.Category" required disabled>
                                        </div>
                                        <div class="form-group product-edit my-3">
                                            <label for="category">Category:</label>
                                            <input type="text" class="form-control" id="category" name="category"
                                                value="@product.Category" required>
                                            <input type="hidden" name="id" value="@product.ProductId">
                                            <button type="submit"
                                                class="save-product-edit-btn btn btn-sm btn-primary mt-3">Save
                                                Changes</button>
                                        </div>
                                    </form>

                                    @* FORM TO UPDATE PRODUCT IMAGE *@
                                    <form asp-controller="Products" asp-action="UpdateProductImgUrl" method="post">
                                        <div class="form-group product-read my-3">
                                            <label for="read-img-url">Image:</label>
                                            <input type="text" class="form-control" id="read-img-url" name="read-img-url"
                                                value="@product.ImgUrl" required disabled>
                                        </div>
                                        <div class="form-group product-edit my-3">
                                            <label for="img-url">Image:</label>
                                            <input type="text" class="form-control" id="imgUrl" name="imgUrl"
                                                value="@product.ImgUrl" required>
                                            <input type="hidden" name="id" value="@product.ProductId">
                                            <button type="submit"
                                                class="save-product-edit-btn btn btn-sm btn-primary mt-3">Save
                                                Changes</button>
                                        </div>
                                    </form>

                                    <div class="btn-group mt-1">
                                        <button type="button" class="cancel-edit-btn btn btn-sm btn-danger">Cancel
                                        </button>
                                        <button type="button" class="edit-product-btn btn btn-sm btn-primary">Edit Product
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-styled">
                    <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                        <a class="page-link"
                            href="@Url.Action("ProductsAdmin", "Products", new { page = ViewBag.PageNumber - 1 })"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= Math.Ceiling((decimal)ViewBag.TotalItemCount / 12); i++)
                    {
                        <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("ProductsAdmin", "Products", new { page = i })">@i</a>
                        </li>
                    }
                    <li
                        class="page-item @(ViewBag.PageNumber == Math.Ceiling((decimal)ViewBag.TotalItemCount / 12) ? "disabled" : "")">
                        <a class="page-link"
                            href="@Url.Action("ProductsAdmin", "Products", new { page = ViewBag.PageNumber + 1 })"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>